# general libraries
numpy
pandas
matplotlib
scikit-learn

# deep learning libraries
# tensorflow
# torch
# torchvision

# image processing libraries
opencv-python
Pillow

# development
jupyter
jedi==0.17.2
ipython
black
